body{
    display:flex;
    flex-direction:column;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:#f0f0f0;
}

#counter{
    font-size:3rem;
    margin-bottom:20px;
}
div button{
    height:40px;
    width:100px;
    border:none;
    border-radius:5px;
    background-color: blue;
    padding:10px 20px;
    margin:0 10px;
    cursor:pointer;

}
button:hover{
    background-color:#007BFF;
    color:white;
}
button:active{
    transform:scale(0.95);
}
#addBtn{
    background-color:#28a745;
    color:white;
    border:none;
    border-radius:5px;
}
#subtractBtn{
    background-color:#dc3545;
    color:white;
    border:none;
    border-radius:5px;
}
#addBtn:hover{
    background-color:#218838;
}
#subtractBtn:hover{
    background-color:#c82333;
}
#addBtn:active, #subtractBtn:active{
    box-shadow:inset 0 0 5px rgba(0,0,0,0.2);
}